/*Глобальные стили*/
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit; 
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #849d8f;
}
img { 
	max-width: 100% 
}
a { 
	text-decoration: none 
}
.visually-hidden {
	position: absolute;
  	clip: rect(0 0 0 0);
  	width: 1px;
  	height: 1px;
  	margin: -1px;
}
.container {
	width: 1146px;
	margin: 0 auto;
}
.flex {
	display: flex;
}
/*Хедер*/
header {
	padding-top: 5px;
	position: relative;
}
nav ul {
	width: 350px;
	justify-content: space-between;
	padding-left: 0;
	margin-left: 24px;
	margin-top: 24px;
}
nav li {
	list-style-type: none;
}
nav a {
	font-size: 16px;
	font-weight: bold;
	color: white;
}
nav .submenu {
	display: none;
}
.interaction-header {
	margin-left: auto;
	width: 245px;
	justify-content: space-between;
}
.input form {
	display: none;
}
.search-container form {
	display: none;
}
.working-time-phone {
	font-weight: bold;
	color: white;
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 58px;
}
.working-time-phone p {
	margin-bottom: 10px;
	text-align: right;
}
.working-time-phone .phone {
	font-size: 22px;
	line-height: 10px;
}
.interaction-header button p {
	color: white;
	width: 14px;
}
/*Слайдер с мороженным на главной*/
.slider ul {
	padding-left: 0;
	margin: 0;
}
.slider li {
	list-style-type: none;
}
.slider-content li {
	background-image: url(../img/gllacy1.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	flex-direction: column;
	min-height: 570px;
}
.slider-content p {
	font-size: 60px;
	color: white;
	font-weight: bold;
	text-align: center;
	margin-bottom: 26px;
	margin-top: auto;
	line-height: 62px;
}
.slider-content button {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 43px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	border-radius: 25px; 
	font-size: 30px;
	font-weight: bold;
	color: white;
	width: 280px;
	text-align: center;
	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
	background-image: linear-gradient(to top, #e74a35, #f26843);
}
/*Специальные предложения*/
.special-offers ul {
	padding-left: 0;
}
.special-offers li {
	list-style-type: none;
}
.special-offers h3 {
	font-size: 23px;
	color: white;
	font-weight: bold;
	margin-bottom: 30px; 
}
.special-offers p {
	font-size: 12px;
	color: white;
	font-weight: bold;
}
.special-offers li:first-child {
	background-image: url(../img/background-berry.jpg);
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.special-offers li:last-child {
	background-image: url(../img/background-chokolate.jpg);
	background-repeat: no-repeat;
	background-position: 0 50%;
}
/*Продукция*/
.products ul {
	padding-left: 0;
}
.products li {
	list-style-type: none;
}
.products h3 {
	font-weight: 500;
	color: white;
	font-size: 16px;
}
.products p {
	font-size: 45px;
	font-weight: 700;
	color: white;
	margin: 0;
}
.products p span {
	font-size: 30px;
}
/*Пагинация*/
.pagination {
	padding-left: 0;
}
.pagination li {
	list-style-type: none;
}
.pagination a {
	color: #ffffff;
	font-size: 16px;
}
/*Описание магазина*/
.shop-description {
	border-radius: 15px;
	background-image: url(../img/background-seo.jpg);
}
.shop-description p {
	font-size: 24px;
	color: #323232;
	font-weight: 500;
}
.shop-description ul {
	padding-left: 0;
}
.shop-description li {
	list-style-type: none;
	font-size: 16px;
	color: #323232;
}
/*Блог*/
.blog {
	border-radius: 15px;
	background-color: #ffffff;
	background-image: url(../img/background-strawerry.jpg);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}
.blog h2 {
	font-size: 16px;
}
.blog a {
	text-decoration: underline;
	color: #323232;
	font-size: 24px;
}
/*Подписка на новости*/
.newsletter-subscription {
	border-radius: 10px;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 6px;
	background-image: url(../img/background-post.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.newsletter-subscription-box {
	border-radius: 10px;
	background-color: #ffffff;
}
.newsletter-subscription p {
 	font-size: 16px;
 	font-weight: normal;
 	color: #5a5a5a;
}
/*Контактная информация*/
.contacts {
	background-image: url(../img/map.png);
}
.contacts div {
	background-color: #ffffff;
	border-radius: 10px;
}
.contacts p, .contacts p a {
	font-size: 18px;
  	font-weight: bold;
  	color: #323232;
}
.contacts p span {
	font-size: 14px;
	color: #323232;
	font-weight: normal;
}
/*Футер*/
footer ul {
	padding-left: 0;
}
footer li {
	list-style-type: none;
}
.footer-menu a {
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}
.copyright a {
	font-size: 12px;
	font-weight: normal;
	color: #fefefe;
}
/*Форма обр. связи*/
.back-communication {
	display: none;
}
/*Хлебные крошко*/
.bread-crumbs {
	padding-left: 0;
}
.bread-crumbs li, .bread-crumbs a {
	list-style-type: none;
	font-size: 14px;
	color: #ffffff;
}
/*Временные стили для сетки*/
.temporarily-for-grid {
	background-image: url('../img/background-gllacy-grid.png');
	background-size: 1146px auto;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 2416px;
	background-position: top center;
	z-index: -1;
}